.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.login-prompt {
    color: #6c757d; /* Neutral gray for text */
    font-size: 1.2rem; /* Standard readable font size */
    font-weight: 500; /* Slightly bold for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-top: 10px; /* Space above the line */
  }
  
  